@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lora:wght@400..700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: var(--basic--);
  color: var(--cl--2--);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--gap--2--);
}

body {
  --cl--1--: #0b0b0b;
  --cl--2--: #fff9c0;
  --cl--3--: #ffc24b;
  --cl--4--: #9f7020;
  --bg--1--: radial-gradient(50% 50% at 50% 50%, rgba(11, 11, 41, 0.16));
  --bg--2--: radial-gradient(50% 50% at 50% 50%, #ffc24b);
  --bg--3--: radial-gradient(50% 50% at 50% 50%, rgba(255, 186, 65, 0.7));
  --gap--1--: clamp(1rem, 1.4vw + 0.74rem, 2rem);
  --gap--2--: clamp(1rem, 5.61vw + -0.05rem, 5rem);
  --basic--: clamp(0.88rem, 0.35vw + 0.81rem, 1.13rem);
  --p--: clamp(0.88rem, 0.18vw + 0.84rem, 1rem);
  --h1--: clamp(2.13rem, 2.63vw + 1.63rem, 4rem);
  --h2--: clamp(1.25rem, 1.75vw + 0.92rem, 2.5rem);
  --h3--: clamp(1rem, 1.4vw + 0.74rem, 2rem);
  --h4--: clamp(0.94rem, 0.79vw + 0.79rem, 1.5rem);
  background: var(--cl--1--);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--cl--3--);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

video, img {
  display: flex;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.flex {
  flex-wrap: wrap;
  gap: var(--gap--1--);
}

.flex>* {
  flex: 1 1 25rem;
}

.column {
  display: grid;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

/* Navigation */
header {
  align-items: center;
  justify-content: space-between;
  gap: var(--gap--1--);
  padding: 1rem 0;
}

.logo {
  z-index: 1000;
}

.logo img {
  max-height: 60px;
}

/* .sign-img {
  max-height: 80px;
  width: 200px;
} */

nav {
  flex: 1;
  align-items: center;
  gap: var(--gap--1--);
}

nav ul {
  align-items: center;
  gap: var(--gap--1--);
  margin: 0 auto;
}

nav ul a {
  position: relative;
  text-transform: capitalize;
  padding: 0.25rem 0;
}

nav ul a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 0;
  height: 2px;
  background: var(--bg--3--);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

nav ul a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: var(--bg--3--);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

nav ul a.active::after, 
nav ul a:hover::after {
  width: 80.5%;
}

nav ul a.active::before, 
nav ul a:hover::before {
  width: 4px;
  height: 4px;
}

nav ul a.active,
nav ul a:hover {
  color: var(--cl--3--);
}

/* Page Button */
.page-btn,
.page-btn.active:hover {
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: none;
  background: transparent;
  border: 0;
  padding: 1rem 1.25rem;
  max-width: max-content;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.page-btn img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.page-btn:hover,
.page-btn.active {
  fill: rgba(242, 187, 90, 0.1)
}
/* End Page Button */

.toggleMenu, .testimonial-cards::-webkit-scrollbar, .t-card-content, .show, .d-none {
  display: none;
}
/* End Navigation */

/* Hero Section */
.hero-bg {
  position: relative;
  background: var(--bg--1--);
  padding: var(--gap--1--);
}

.hero-bg::after,
.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-bg::before {
  background-image: url(../assets/honey-comb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1100px;
  opacity: 0.1;
}

.hero-bg::after {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  background: var(--bg--2--);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.03;
}

.hero-content {
  text-align: center;
}

h1 {
  font-family: "Comforter Brush", cursive;
  font-size: var(--h1--);
}

.hero-img img {
  max-height: 600px;
  object-fit: contain;
}
/* End Hero Section */

/* About Section */
#about, .beauty, .meet {
  padding: var(--gap--2--) 0;
}

/* Heading */
.heading {
  align-items: center;
  gap: var(--gap--2--);
}

.heading>* {
  flex: 1 1 15rem;
}

.title {
  align-items: center;
  max-width: max-content;
}

.title-img {
  min-height: 100px;
  object-fit: contain;
}

h2 {
  font-weight: 700;
  font-size: var(--h2--);
  text-transform: capitalize;
}

.heading h2 {
  white-space: nowrap;
}

hr {
  border: 0;
  height: 4px;
  width: 100%;
  background: var(--bg--3--);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Heading */

.about {
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: var(--gap--1--);
  background-image: url(../assets/about-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

p {
  font-size: var(--p--);
  line-height: 155%;
}

.about-content .page-btn, .beauty-content .page-btn, .footer-content {
  margin-top: var(--gap--1--)
}

.about-img img {
  max-height: 300 px;
  object-fit: contain;
  filter: drop-shadow(0 1rem 3rem var(--cl--3--));
  -webkit-filter: drop-shadow(0 1rem 3rem var(--cl--3--));
}
/* End About Section */

/* Products Section */
.product {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: var(--gap--1--) auto 0;
}

.hexagon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/hexagon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 3rem 2.5rem;
}

.hexagon img {
  width: 90px;
  height: 90px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.hexagon:hover img {
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
}

h4 {
  font-weight: 500;
  font-size: var(--h4--);
  text-transform: capitalize;
}

.hexagon h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.hexagon:hover h4 {
  opacity: 1;
}
/* End Products Section */

/* Shop Section */
.shop {
  overflow: hidden;
  padding: var(--gap--2--) 0;
}

.shop .mySwiper {
  max-width: 950px;
  margin: var(--gap--1--) auto 0;
  overflow: visible;
}

.shop .swiper-slide {
  align-items: center;
  padding: var(--gap--1--);
  background: rgba(255, 186, 65, 0.07);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.shop .swiper-slide.swiper-slide-active {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.shop-img {
  text-align: center;
  max-width: max-content;
  margin: 0 auto;
}

.shop-img img {
  height: 200px;
  object-fit: contain;
}

.shop-img p {
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: center;
}

.shop-content p+p {
  margin-top: 1rem;
}

strong {
  font-weight: 500;
  color: var(--cl--3--);
}

.shop-details {
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.shop-detail {
  gap: 1rem;
}

.s-d-img img {
  width: 150px;
  height: 150px;
}

.s-d-img img, .shop-detail p+p {
  margin-top: 0.5rem;
}

.shop-detail hr {
  height: 100%;
  width: 4px;
}

.shop-detail hr+div {
  width: 100%;
}

.shop-details .page-btn.active {
  align-self: flex-end;
  padding: 1.5rem 1.125rem;
  margin-left: auto;
}

.swiper-pagination {
  position: relative;
  inset: unset !important;
  margin-top: var(--gap--1--);
}

.swiper-pagination-bullet {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: clamp(0.63rem, 2.45vw + 0.17rem, 2.19rem);
  height: clamp(0.63rem, 2.45vw + 0.17rem, 2.19rem);
  background: rgba(242, 187, 90, 0.9);
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.swiper-pagination-bullet-active {
  background: var(--cl--3--);
}
/* End Shop Section */

/* Gallery Section */
.gallery-slider {
  padding: var(--gap--1--);
  overflow: hidden;
}

.gallery-slider :is(.mySwiper, .mySwiper2) {
  overflow: visible;
}

.gallery-slider img {
  height: 400px;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/* End Gallery Section */

/* Beauty Section */
.beauty .flex {
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-top: var(--gap--1--);
}

.beauty-img img {
  max-height: 400px;
  object-fit: contain;
  filter: drop-shadow(0 0.5rem 1rem var(--cl--2--));
  -webkit-filter: drop-shadow(0 0.5rem 1rem var(--cl--2--));
}
/* End Beauty Section */

/* Testimonial Section */
.stars img {
  width: 30px;
}

.testimonial .heading {
  margin-bottom: var(--gap--1--);
}

.testimonial-cards {
  gap: 1rem;
  max-width: max-content;
  margin: 0 auto;
  overflow: auto;
}

.testimonial-card {
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-image: url(../assets/tbg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1rem;
  min-width: 215px;
  min-height: 240px;
}

.testimonial-card:hover:not(.show) {
  min-width: 661px;
  /* background-image: url(../assets/tbg.png); */
}

.t-card-img {
  overflow: hidden;
  padding: 0.25rem;
  /* background-image: url(../assets/tbg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.testimonial-card img {
  object-fit: cover;
  width: 175px;
  height: 200px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.testimonial-card:hover .t-card-content{
  display: block;
  width: 430px;
}

.t-card-content p {
  font-size: 0.85rem;
}

.rate {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.stars {
  align-items: center;
  gap: 0.5rem;
}

.stars img {
  max-width: 15px;
  max-height: 15px;
  object-fit: contain;
}
/* End Testimonial Section */

/* Meet Section */
.meet .flex {
  margin-top: var(--gap--1--);
  flex-wrap: wrap-reverse;
  align-items: center;
}

h3 {
  font-weight: 600;
  font-size: var(--h3--);
  text-transform: capitalize;
}

.video {
  position: relative;
}

.video video, .video-thumbnail img {
  border: 5px solid var(--cl--3--);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.video-thumbnail {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.video-thumbnail::after {
  cursor: pointer;
  position: absolute;
  content: "";
  inset: 0;
  margin: auto;
  width: 85px;
  height: 85px;
  background-image: url(../assets/play2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* End Meet Section */

/* Footer Section */
footer {
  background: url(../assets/honey_spoon.png), url(../assets/fbg.png);
  background-repeat: no-repeat;
  background-position: right bottom, top center;
  background-size: contain, cover;
  padding: var(--gap--2--) 0;
  margin-top: var(--gap--2--);
}

.link img {
  width: 30px;
  height: 30px;
}

.footer {
  flex-wrap: wrap;
  gap: var(--gap--2--);
}

.footer h4 {
  margin-bottom: 1rem;
}

footer ul a {
  text-transform: capitalize;
  color: var(--cl--2--);
}

footer ul a:hover {
  color: var(--cl--4--);
}

footer ul li+li {
  margin-top: 0.5rem;
}

address {
  font-style: normal;
}

/* .footer-content {
  margin-top: var(--gap--1--);
} */

.media-links {
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--gap--1--);
}

.media-links a {
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: var(--cl--1--);
  width: 50px;
  height: 50px;
  padding: 0.25rem 0.75rem;
}

.media-links a:hover {
  background: var(--cl--4--);
}

.copy-right {
  margin-top: var(--gap--1--);
  font-size: 0.8rem;
  text-align: center;
}

/* End Footer Section */

/* Media */
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 900px) {
  .toggleMenu {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../assets/bee.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 60px;
    border: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
  }

  .toggleMenu.active {
    position: fixed;
    right: 2.5%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  nav {
    position: absolute;
    inset: 0;
    min-height: 0;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
  }

  nav.active {
    position: fixed;
    min-height: 100%;
    opacity: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    background: var(--cl--1--);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .about {
    background-position: bottom right;
  }

  .hexagon:nth-of-type(5),
  .hexagon:nth-of-type(6),
  .hexagon:nth-of-type(7) {
    margin-top: -35px;
  }

  .gallery-slider .mySwiper2 {
    margin-top: -5rem;
  }

  .testimonial-cards {
    justify-content: center;
  }

  .testimonial-cards+.testimonial-cards {
    margin-top: -2.5rem;
  }

  .show {
    display: flex;
  }

  .meet-content {
    max-width: 500px;
  }
}
/* End Media */